<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>api cryptocompare</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        .header {
            height:50px;
            text-align:center;
            line-height:50px;
            background:#faf2f3;
        }

        body{
		font:20px/1.3 'Open Sans', sans-serif;
		color: #5e5b64;
		text-align:center;
		background:#f8f9f6;

	}
 
        .nav {
            background:#f3f2f1;
            height:40px;
            margin-bottom:15px;
        }



        #resultats{
		text-align:left;
		border: 8px outset rgb(196, 193, 193) ;
		background:rgb(196, 193, 193);
		color: black;
		margin-left: 10%;
	}
    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div id="app">    
    <div class="header" class="row">
		<div class="col-xs-12 ">
			<h1>API</h1>
		</div>
	</div>
	<div class="nav" class="row">
		<ul>
			<div class="col-xs-3 col-lg-2">
				<li><a href="#">Accueil</a></li>
            </div>
        </ul>
    </div>
 <h1>API CryptoCompare</h1>
 <!-- pour voir qu'elles sont les données reçu -->
 <div v-for="crypto in cryptomonnaie">
{{crypto}}

</div>    
      
<div class="row">
    <div id="recherche" class="col-xs-5 offset-xs-1 col-md-10 offset-md-1  col-lg-3 offset-lg-2 ">
        <label for="cryptomonnaie">Choisir la cryptomonnaie:</label>
        <select v-model="recherche1" id="cryptomonnaie" name="cryptomonnaie">
            <div v-for="crypto in cryptomonnaie">
                <option></option>
            </div>    
        </select>
      </div>
      <div id="recherche" class="col-xs-5 offset-xs-1 col-md-5 offset-md-1  col-lg-3 offset-lg-2 ">
        <label for="cryptomonnaie">Choisir la cryptomonnaie:</label>
        <select v-model="recherche1" id="cryptomonnaie" name="cryptomonnaie">
            <div v-for="crypto in cryptomonnaie">
                 <!-- {{crypto.symbol}} ne fonctionne pas alors que crypto contient toutes les datas comme je le faisais avec cryptomonnaieAffiche -->
                <option></option>
            </div>    
        </select>
      </div>   
    </div>
    <button @click="recherche">recherche</button>
        		
		
    
      
   
        <div class="row">
          <div id="cryptotitre" class="col-xs-5 offset-xs-1 col-md-5 offset-md-1  col-lg-3 offset-lg-2 ">
              <h4>{{ recherche1 }}:</h4>
            </div>
            <div id="cryptotitre" class="col-xs-5 offset-xs-1 col-md-5 offset-md-1  col-lg-3 offset-lg-2 ">
              <h4>{{ recherche2 }}:</h4>
            </div>   
        </div>
        <div class="row">
            <div v-for="cryptomonnaieAffiche in resultat" class="col-xs-5 offset-xs-1 col-md-4 offset-md-1  col-lg-3 offset-lg-2 ">
            <div id="resultats">
				
				<ul>
                    <li>${{ cryptomonnaieAffiche.USD }}</li>
                    <li>€{{ cryptomonnaieAffiche.EUR }}</li>
                    <li>£{{ cryptomonnaieAffiche.GBP }}</li>
				</ul>
			</div>	
		    </div>
        </div>  
</div>

    
    
    
    <script>

        // Creating a new Vue instance and pass in an options object.
        var demo = new Vue({
        
            // A DOM element to mount our view model.
            el: '#app',
        
            // Define properties and give them initial values.
            data () {
                return {
                  resultat: null,
                  cryptomonnaie: null,
                  recherche1: "BTC",
                  recherche2: "ETH" 
                }  
            },

            filters: {
                currencydecimal (value) {
                return value.toFixed(2)
                }
            },

            mounted () {
                axios  
                .get('https://min-api.cryptocompare.com/data/blockchain/list?api_key=13310ecb3c4145754a4f3f4b010ca9b8b3138552fcc7c4fbf4e444f12b85575d')
                .then(response2 => (this.cryptomonnaie = response2.data))
            },

            methods: {
                recherche: function() {
                    axios
                    .get( "https://min-api.cryptocompare.com/data/pricemulti?fsyms="+ this.recherche1 +","+ this.recherche2 +"&tsyms=USD,EUR,GBP")
                    .then(response => (this.resultat = response.data))
                }
            }
        });
</script>
</body>
</html>                